body {
    background-color: #ffffff;
    text-align: center;
    color: #252E33;
}
.top {
    font-family: 'Inclusive Sans', sans-serif;
    margin-top: -5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b2d4ed;
}

li {
    float: left;
  }

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: #d9efff7f;
}

h1 {
    color: #182C3B;
    margin-block-start: 3em;
    margin-block-end: 1em;
    font-size: 40px;
    font-weight: bold;
}
h2 {
    color: #182C3B;
    margin-block-start: 0;
    margin-block-end: 0;
}

.bg {
    width: 500px;
    margin-top: 10px;
    padding: 0;
}
a {
    color: #325B7A;
}

footer {
    color: #325B7A;
    text-align: center;
}